/* App background */
.stApp {
    background-color: #2391ff;
    font-family: 'Comic Sans MS', sans-serif;
}

/* Headings */
h1, h2, h3 {
    color: #2c3e50;
}

/* Buttons */
div.stButton > button:first-child {
    background-color: #4CAF50;
    color: ;
    border-radius: 6px;
    height: 2.5em;
    font-weight: bold;
    border: none;
}

/* Sidebar styling */
.css-1d391kg {
    background-color: #f4f4f4;
}

/* Pydeck container tweaks */
[data-testid="stDeckGlJsonChart"] {
    border: 2px solid #ddd;
    border-radius: 8px;
}